body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta {
    width: 250px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tarjeta img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.tarjeta h3 {
    margin: 10px 0;
}

.tarjeta p {
    margin: 10px 0;
    font-size: 18px;
}

.cantidad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="number"] {
    width: 40px;
    text-align: center;
    font-size: 18px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.productos-seleccionados {
    margin: 20px 0;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

h3 {
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
}
